MVC/Connected Services/SOAPService/AppService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUniversityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UniversityDTO" nillable="true" type="tns:UniversityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUniversityDTO" nillable="true" type="tns:ArrayOfUniversityDTO" />
  <xs:complexType name="UniversityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildIn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberStudents" type="xs:int" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetNumber" type="xs:short" />
      <xs:element minOccurs="0" name="WorldRanking" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UniversityDTO" nillable="true" type="tns:UniversityDTO" />
  <xs:complexType name="ArrayOfStudentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentDTO" nillable="true" type="tns:StudentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentDTO" nillable="true" type="tns:ArrayOfStudentDTO" />
  <xs:complexType name="StudentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:short" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Egn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacultyNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Major" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentDTO" nillable="true" type="tns:StudentDTO" />
  <xs:complexType name="ArrayOfTeacherDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeacherDTO" nillable="true" type="tns:TeacherDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeacherDTO" nillable="true" type="tns:ArrayOfTeacherDTO" />
  <xs:complexType name="TeacherDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExperienceYear" type="xs:short" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeacherDTO" nillable="true" type="tns:TeacherDTO" />
</xs:schema>