MVC/Connected Services/SOAPService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AppService.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUniversities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUniversities" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUniversities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUniversitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostUniversity_InputMessage">
    <wsdl:part name="parameters" element="tns:PostUniversity" />
  </wsdl:message>
  <wsdl:message name="IService1_PostUniversity_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostUniversityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUniversityById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUniversityById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUniversityById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUniversityByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutUniversity_InputMessage">
    <wsdl:part name="parameters" element="tns:PutUniversity" />
  </wsdl:message>
  <wsdl:message name="IService1_PutUniversity_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutUniversityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUniversity_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUniversity" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUniversity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUniversityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:PostStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_PostStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeachers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeachers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:PostTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_PostTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeacherResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUniversities">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUniversities" message="tns:IService1_GetUniversities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUniversitiesResponse" message="tns:IService1_GetUniversities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostUniversity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostUniversity" message="tns:IService1_PostUniversity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostUniversityResponse" message="tns:IService1_PostUniversity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUniversityById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUniversityById" message="tns:IService1_GetUniversityById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUniversityByIdResponse" message="tns:IService1_GetUniversityById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutUniversity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutUniversity" message="tns:IService1_PutUniversity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutUniversityResponse" message="tns:IService1_PutUniversity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUniversity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUniversity" message="tns:IService1_DeleteUniversity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUniversityResponse" message="tns:IService1_DeleteUniversity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudents" message="tns:IService1_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentsResponse" message="tns:IService1_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostStudent" message="tns:IService1_PostStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostStudentResponse" message="tns:IService1_PostStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudentById" message="tns:IService1_GetStudentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentByIdResponse" message="tns:IService1_GetStudentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteStudent" message="tns:IService1_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteStudentResponse" message="tns:IService1_DeleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeachers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeachers" message="tns:IService1_GetTeachers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeachersResponse" message="tns:IService1_GetTeachers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostTeacher" message="tns:IService1_PostTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostTeacherResponse" message="tns:IService1_PostTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeacherById" message="tns:IService1_GetTeacherById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeacherByIdResponse" message="tns:IService1_GetTeacherById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteTeacher" message="tns:IService1_DeleteTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteTeacherResponse" message="tns:IService1_DeleteTeacher_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUniversities">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUniversities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostUniversity">
      <soap:operation soapAction="http://tempuri.org/IService1/PostUniversity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUniversityById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUniversityById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutUniversity">
      <soap:operation soapAction="http://tempuri.org/IService1/PutUniversity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUniversity">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUniversity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/PostStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeachers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeachers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/PostTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeacherById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>